<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/game.css">
        <title>car</title>
    </head>
    <body>
        
        <div class="cargame">
        <div class="score">
            <div class="startscreen">
                <p>Press here to start <br><br><br><br>
                Arrow keys to move<br><br>
                If you hit another car you will lose.
                </p>
            </div>
            <div class="gameArea "></div>
        </div>
        </div>
        <script src="/scripts/game.js"></script>
    </body>
</html>